.row {
  display: flex;
  flex-direction: row;
  position: relative;
}

.text {
  color: #023E8A;
}

.navIcon {
  width: 2rem;
  height: 2rem;
}

.grid25 {
  width: 25%;
}

.vertCenter {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.topPad1 {
  padding-top: 1rem;
}

.botPad1 {
  padding-bottom: 1rem;
}