.grid25 {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footerItem {
  background-color: none;
  border: none;
}

.selected {
  color: #023E8A
}

.unselected {
  color: lightgray;
}

.accountIcon {
  display: flex;
  padding: 1rem;
  margin-right: 2rem;
}

.headerBar {
  display: flex;
  color: white;
  justify-content: space-between;
}

@media (min-width: 600px) {
  
}

header {
  position: absolute;
  left: 1rem;
  font-size: 2.5rem;
}