.App {
  text-align: center;
  padding: .25rem;
  color: #023E8A;
}

.mobileFooterMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0.25rem;
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin-left: 1rem;
}